.job {
  margin: 0px;
}

.menu {
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: #5f2a9c;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  line-height: 2;
}

.menu-item {
  margin: 10px 0;
}
